h1{
    color: rgb(3, 0, 163);
}

main{
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(0, 0, 0) 2px;
}